

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#" (click)="reload()">REDDIT</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li *ngIf="connected" class="nav-item active">
          <a (click)="creerTopicModal(content)  " class="nav-link" href="#">Créer un topic
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li *ngIf='connected'>
            <a (click)="myTopics()" class="nav-link" href="#">Mes topics</a>
        </li>
        <li *ngIf='connected'>
          <a (click)="topicsVotedByMe()" class="nav-link" href="#">Topics votés</a>
        </li>
        <li *ngIf="!connected" class="nav-item">
          <a (click)="socialSignIn('google')" class="nav-link" href="#">Connexion</a>
        </li>
        <li *ngIf="connected" class="nav-item">
          <img [src]= "imageURL" height="40px" width="40px"/>
        </li>
        <li *ngIf="connected">
          <p class="nav-link" style="color:white">{{name}}</p>
        </li>
        <li *ngIf="connected">
          <a (click)="logout()" class="nav-link" href="#">Déconnexion</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<br>
<br>
<br>
<br>
<h4 style="text-align: center" *ngIf='tempsExecution !== 0'>Temps d'exécution : {{tempsExecution}} ms</h4>
<br>
<!-- Page Content -->
<div class="container">
  
  <div class="row">
    <!-- /.col-lg-3 -->
    <div class="row">
        <div *ngFor="let post of posts" class="col-lg-4 col-md-6 mb-4">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">par {{post.sender}}</a>
              </h4>
              <p class="card-text">{{post.body.value}}</p>
            </div>
            <div class="card-footer">
              <table>
                <tr>
                  <td>
                    <button (click)='vote(post, true)' type="button" class="btn btn-success btn-xs">
                      <h3>&#8593;</h3>
                    </button>
                  </td>
                  <td style="color: white">
                    ---
                  </td>
                  <td>
                    <button (click)='vote(post, false)' type="button" class="btn btn-danger btn-xs">
                      <h3>&#8595;</h3>
                    </button>
                  </td>
                  <td style="color: white">
                    ---
                  </td>
                  <td>
                    <strong class="card-text">Score : {{post.score}}</strong>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        
      </div>
      <!-- /.row -->
      
    </div>
    <!-- /.col-lg-9 -->
    
  </div>
  <!-- /.row -->

  <ng-template #content let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">Création du topic</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form class="form-horizontal">
              <fieldset>
              
                <i *ngIf='missingParameter'>Le contenu doit être spécifié</i>
              <!-- Textarea -->
              <div class="form-group">
                <label class="col-md-10 control-label" for="textarea">Contenu</label>
                <div class="col-md-10">                     
                  <textarea placeholder="Placez votre contenu ici..." class="form-control" id="textarea" name="textarea" #contenu required></textarea>
                </div>
              </div>
              
              </fieldset>
              
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="creerTopic(contenu.value)">Créer le topic</button>
              </div>
            </form>
          </div>
          </ng-template>
    
